@use '../../vars';

.nav-bar {
    width: 75%;
    margin: 1rem auto 3rem auto;

    .nav-sections {
        display: flex;
        justify-content: space-between;


        .nav-section {
            min-height: 3rem;
            width: 14rem;
            display: flex;
            justify-content: space-around;
            align-items: center;

            &.middle a {
                color: vars.$MainAccentColor;
                font-size: 1.8rem;
                font-weight: 700;
            }

            a {
                display: flex;
                align-items: center;
                padding: 0.5rem 0.75rem;
                height: 80%;
                font-size: 1.1rem;

                &:hover {
                    color: rgb(17, 169, 215);
                    transition: ease-in-out 0.225s;
                    transform: scale(1.05);
                }
            }
        }
    }
}