@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: rgb(24, 24, 24);
    color: white;
    font-size: 62.5%;
}


h1 {
    font-size: 2.6rem;
}

li,
button,
label,
input,
p {
    font-size: 1.5rem;
}

p.marg-bottom {
    margin-bottom: 1.2rem;
}

h2 {
    font-size: 4.5rem;
}

h3 {
    font-size: 2.7rem;
    font-weight: normal;
}

h4,
h5 {
    font-size: 2.5rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

#margin-container {
    width: 75%;
    margin: auto;
}